@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff0f5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f9a8d4, #f472b6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ec4899;
}

a {
  transition: all 0.3s ease;
}
